<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

	<resultMap type="payVo" id="payResultMap">
	    <result column="payNo" property="PAYNO" />
		<result column="memName" property="MEMNAME" />
		<result column="memPw" property="MEMPW" />
		<result column="email" property="EMAIL" />
		<result column="account" property="ACCOUNT" />
		<result column="phoneNumber" property="PHONENUMBER" />
		<result column="carPw" property="CARPW" />
		<result column="payCheck" property="PAYCHECK" />
		<result column="price" property="PRICE" />
		<result column="memno" property="MEMNO" />
		<result column="totalfee" property="TOTALFEE" />
		<result column="meetingType" property="MEETINGTYPE" />
		<result column="meetno" property="MEETNO" />
		<result column="deviceId" property="DEVICEID" />
        <result column="memPic" property="MEMPIC" />
	</resultMap>
<!-- 
    <select id="paySelect" resultMap="payResultMap">
		select * from pay_info
	</select> 
	
	모임에서 친구 목록 가져오기
	<select id="friendSelect" parameterType="int" resultMap="payResultMap">
		select * from pay_info where meetno = #{meetno}
	</select>

	결제했을 때 총액 업데이트 
	<update id="payMeetUpdate" parameterType="payVo">
		update meeting
		set TOTALFEE = #{totalfee}
		where MEETNO = (select MEETNO from payment where MEMNO = #{memno})
	</update>
	
	 결제 했을 때 자신의 금액 업데이트
	<update id="payUpdate" parameterType="payVo">
		update payment
		set PRICE = #{price}
		where MEMNO = #{memno}
	</update>
	
	모임에 있는 멤버들 회비 정해주기
	<update id="priceUpdate" parameterType="payVo">
		update payment set price = #{price} 
		where memno in (select memno 
								 from payment
								 where meetno = #{meetno})
	</update>
	
	총회비 저장
	<update id="totalfeeUpdate" parameterType="payVo">
		update meeting set totalfee = #{totalfee} 
		where meetno = #{meetno}
	</update>
	
	모임 삭제
	<delete id="deleteMeeting" parameterType="payVo">
		delete from meeting where meetno = #{meetno} and manageno=#{memno}
	</delete> 
--> 	
	<!-- 친구 리스트 추가 -->
    <insert id="insertPayment" parameterType="payVo">
		insert into payment(PAYNO, MEETNO, MEMNO) VALUES(PAYMENT_SQ.NEXTVAL, #{meetno}, #{memno})
	</insert>
	
</mapper>
