<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

	<resultMap type="payVo" id="payResultMap">
	    <result column="PAYNO" property="payNo" />
		<result column="MEMNAME" property="memName" />
		<result column="MEMPW" property="memPw" />
		<result column="EMAIL" property="email" />
		<result column="ACCOUNT" property="account" />
		<result column="PHONENUMBER" property="phoneNumber" />
		<result column="CARDPW" property="carPw" />
		<result column="PAYCHECK" property="payCheck" />
		<result column="PRICE" property="price" />
		<result column="MEMNO" property="memno" />
		<result column="TOTALFEE" property="totalfee" />
		<result column="MEETINGTYPE" property="meetingType" />
		<result column="MEETNO" property="meetno" />
		<result column="DEVICEID" property="deviceId" />
        <result column="MEMPIC" property="memPic" />
        <result column="MEETNAME" property="meetname" />
	</resultMap>

    <select id="paySelect" resultMap="payResultMap">
		select * from pay_info where meetno = #{meetno}
	</select> 
	
	<!-- 모임에서 친구 목록 가져오기 -->
	<select id="friendSelect" parameterType="int" resultMap="payResultMap">
		select * from pay_info where meetno = #{meetno}
	</select>

	<!-- 결제했을 때 총액 업데이트(모임이름으로 업데이트) --> 
	<update id="payMeetUpdate" parameterType="payVo">
		update meeting
		set TOTALFEE = #{totalfee}
		where MEETNO = #{meetno}
	</update>
	
	 <!-- 결제 했을 때 자신의 금액 업데이트 (모임이름으로 찾은 미팅넘버와 세션의 멤버넘버로 업데이트) -->
	<update id="payUpdate" parameterType="payVo">
		update payment
		set PRICE = #{price}, paycheck = 'ok'
		where MEMNO = #{memno} and MEETNO=#{meetno}
	</update>
	
	<!-- 모임에 있는 멤버들 회비 정해주기 -->
	<update id="priceUpdate" parameterType="payVo">
		update payment set price = #{price} , paycheck= 'no'
		where memno in (select memno 
								 from payment
								 where meetno = #{meetno})
	</update>
	
	<!--  총회비 저장-->
	<update id="totalfeeUpdate" parameterType="payVo">
		update meeting set totalfee = #{totalfee} 
		where meetno = #{meetno}
	</update>
	
	<!-- 모임 삭제전 친구들 먼저 삭제 -->
	<delete id="memberDelete" parameterType="int">
	delete from payment where meetno =#{meetno}
	</delete>
	
	<!-- 모임 삭제 -->
	<delete id="deleteMeeting" parameterType="payVo">
		delete from meeting where meetno = #{meetno} and manageno=#{memno}
	</delete> 
	
	<!-- 친구 리스트 추가 -->
    <insert id="insertPayment" parameterType="payVo">
		insert into payment(PAYNO, MEETNO, MEMNO) VALUES(PAYMENT_SQ.NEXTVAL, #{meetno}, #{memno})
	</insert>
	
</mapper>
